streamlit==1.17.0
transformers==4.33.2
torch
sentencepiece==0.1.96  # Update to a version with pre-built wheels
tokenizers==0.13.3     # Use a stable version that does not require building from source
